header {
  height: 96px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: auto 1fr 30px;
  align-content: center;
  justify-content: center;

  & > * {
    align-self: center;
  }

  .menu {
    display: none;
  }

  .links {
    justify-self: center;

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      margin-right: 34px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  span.mso {
    color: white;
  }
}

@media screen and (width < 376px) {
  header {
    grid-template-columns: 30px auto 30px;
    justify-content: stretch;

    .menu {
      display: block;
      grid-column: 1 / span 1;
    }

    .links {
      display: none;
    }

    .logo {
      justify-self: center;
    }
  }
}
