header {
  height: 96px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: auto 1fr 30px;
  align-content: center;
  justify-content: center;

  & > * {
    align-self: center;
  }

  .links {
    justify-self: center;

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      margin-right: 34px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  span.mso {
    color: white;
  }
}
